@charset "UTF-8";

*{
     margin: 0px;
     padding: 0px;
     font-family: Arial, Helvetica, sans-serif;
}

body{
     background-color: lightgrey;
   
}

header{
     background-color: darkgrey;
}

header h1 {
     padding: 10px;
     text-align: center;
}

#burguer{
     background-color: rgb(73, 71, 71);
     color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover{
     background-color: white;
     color: black;
}


nav{
     display: none;
 

}

nav ul {
     list-style-type: none;
    
     
}

nav ul li a {

     display: block;
     padding: 10px;
     text-decoration: none;
     background-color: rgb(102, 101, 101);
     color: white;
     text-align: center;
     border-top: 2px solid darkgray;
}

nav ul li a:hover{
     background-color: gray;
}
main{
     width: 90vw;
     background-color: white;
     margin: auto;
     margin-top: 10px;
     padding: 10px;
     border-radius: 10px;
}

article h2 {
     padding-bottom: 20px;
}

article p {
     text-align: justify;
     margin-bottom: 20px;
     text-indent: 20px;
}

